.divider {
  width: 100%;
  height: 1px;
  padding-left: 20px;
  background-color: white;
}

.aboutUsLink {
  color: rgb(190, 180, 180);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
}

.aboutUsLink:hover {
  cursor: pointer;
  color: #9364d4;
  transition: color 0.2s ease-out;
}
