.containerSpacecraft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.353);
  min-width: 100%;
}

.containerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}

.leftContainer,
.rightContainer {
  width: 45%;
  height: 100%;
}

.button {
  font-size: 40px;
  color: rgba(190, 180, 180, 0.452);
  cursor: pointer;
}

.button:active {
  color: whitesmoke;
}

@media screen and (max-width: 576px) {
  .rightContainer {
    display: none;
  }

  .leftContainer {
    width: 100%;
  }
  .containerSpacecraft {
    justify-content: space-between;
  }

  .containerCard {
    height: 100%;
  }
}
