.containerSpacecraft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.353);
}

.containerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}

.leftContainer,
.rightContainer {
  width: 45%;
  height: 100%;
}

.inuseInfo {
  width: 30%;
}

.button {
  font-size: 40px;
  color: rgba(190, 180, 180, 0.452);
  cursor: pointer;
}

.button:active {
  color: whitesmoke;
}

@media only screen and (max-width: 760px) {
  .rightContainer {
    display: none;
  }

  .leftContainer {
    width: 100%;
  }
}
/* 
@media only screen and (min-width: 960px) {
  .rightContainer {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .rightContainer {
    display: none;
  }

  .containerCard {
    width: 78vw;
    height: 61vh;
    display: flex;
    align-items: center;
    padding: 28px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: whitesmoke;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }

  .leftContainer {
    width: 250px;
    height: 61vh;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.353);
  }

  .button {
    font-size: 30px;
    color: rgba(190, 180, 180, 0.452);
    z-index: 2;
  }
} */
