@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.containerSpacecraft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.containerCard {
  width: 48vw;
  height: 60vh;
  display: flex;
  align-items: center;
  margin-right: 5%;
  gap: 52px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: whitesmoke;
}

.leftContainer {
  width: 24vw;
  height: 77vh;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.535);
}

.rightContainer {
  width: 24vw;
  height: 77vh;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.535);
}

.button {
  font-size: 50px;
  color: rgba(190, 180, 180, 0.452);
  cursor: pointer;
  z-index: 2;
}

.button:active {
  color: whitesmoke;
}
