@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  color: white;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 70vw;
  height: 36vw;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.535);
}

.containerGauche {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerDroite {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.button {
  font-size: 50px;
  color: rgba(190, 180, 180, 0.452);
  cursor: pointer;
}

.profilePhoto {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: 3px;
}

.imageShip {
  height: 450px;
  width: 625px;
  border-radius: 16px;
  margin-left: 15px;
  margin-top: 4px;
}

.astronautes {
  margin-left: 650px;
  display: inline-flex;
  justify-content: space-evenly;
}

.title {
  margin-top: 6%;
}

.date {
  display: flex;
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 20px;
  width: 500px;
  text-align: center;
  justify-content: center;
}

.badgeMission {
  width: 150px;
  height: 140px;
  margin-top: 8px;
  /*   margin-left: 200px;
  margin-top: 10px; */
}

.nameOfShip {
  margin-top: 40px;

  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 20px;
  width: 500px;
  height: 60px;
}

.astroCard {
  width: 196px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 20px;
  margin-bottom: 20px;
  margin: 1% 3% 0% 1%;
}

.astronautContainer {
  display: inline-flex;
}

.astroName {
  margin-top: initial;
}

.inMemoContainer {
  height: 100vh;
  width: 100vw;
}

.flexmess {
  margin-top: -3%;
  justify-content: center;
}

/* .rightButtonContainer {
  margin-bottom: 1000px;
} */

.CONTENAIRCARDBTN {
  display: flex;
  align-items: center;
}
