@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
.articleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(22, 2, 22, 0.596);
  border-radius: 15px;
  color: whitesmoke;
  align-items: center;
  padding-bottom: 5%;
}

.artImg {
  width: 200px;
  height: 100px;
  border-radius: 15px;
}

.artTitle {
  font-family: poppins, sans-serif;
  font-weight: bolder;
  font-size: 1.5vh;
}

/* .artSum {
  font-size: small;
  font-family: poppins, sans-serif;
}

.artUrl {
  font-style: italic;
  font-family: poppins, sans-serif;
  font-size: 10px;
} */
