@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
.articleCard {
  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 15px;
  color: whitesmoke;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.artImg {
  max-width: 65%;

  border-radius: 15px;
}

.artTitle {
  font-size: 1.6vh;

  font-family: poppins, sans-serif;
  padding: 0 10%;
  margin: 0;
}
