@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.nextLaunchMobileContainer {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.535);
  font-family: "Poppins", sans-serif;
  color: white;
}

.launcherImageMobileContainer {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.launcherMobileImage {
  width: 70%;
}

.descriptionMobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missionMobileContainer,
.rocketMobileContainer,
.padMobileContainer,
.providerMobileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.titleMobileDescription {
  margin: 0;
  color: rgb(190, 180, 180);
  font-weight: 100;
  font-size: 3vw;
}

.missionMobileName {
  margin: 0;
  font-weight: 300;
  font-size: 4vw;
}

@media only screen and (min-width: 960px) {
  .missionMobileName {
    font-size: 26px;
  }
}
