.testcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bodyContainer {
  margin-top: 7%;
  margin-right: 5%;
  margin-left: 5%;
}

.craftImage {
  width: 100%;
  height: 43vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bodyTitle {
  font-size: medium;
  margin-bottom: 5%;
}

.inuseInfo {
  font-size: xx-small;
  padding: 2%;
  margin: 0 37% 0 37%;
  border-radius: 15px;
  background-color: rgb(66, 15, 114, 0.635);
}

.paragraphe {
  margin-top: 5%;
  font-size: x-small;
}
