@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.footerContainer {
  width: 100%;
  height: 60px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: transparent;
}

.footerText {
  color: rgb(190, 180, 180);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.wildCodeSchoolLink {
  color: rgb(190, 180, 180);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-decoration: underline;
}

.wildCodeSchoolLink:hover {
  cursor: pointer;
  color: #9364d4;
  transition: color 0.2s ease-out;
}

.wildCodeSchoolLink:active {
  color: rgba(190, 180, 180, 0.452);
}

.iconContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.aContainer {
  margin-top: 6px;
}

.githubIcon {
  color: rgb(190, 180, 180);
  font-size: 35px;
  cursor: pointer;
}

.githubIcon:link,
.githubIcon:visited {
  text-decoration: none;
  color: white;
}

.githubIcon:hover {
  cursor: pointer;
  color: #9364d4;
  transition: color 0.2s ease-out;
}

.githubIcon:active {
  color: rgba(190, 180, 180, 0.452);
}

@media only screen and (max-width: 768px) {
  .footerText,
  .aboutUs,
  .wildCodeSchoolLink {
    font-size: 10px;
  }

  .githubIcon {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .footerText,
  .aboutUs,
  .wildCodeSchoolLink {
    font-size: 14px;
  }

  .githubIcon {
    font-size: 24px;
  }
}
