@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.agenciesContainer {
  background-image: url(../assets/map-background.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padsAndArticlesContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 5vw;
  width: 90vw;
  height: 75vh;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  margin-top: 17vh;
}

.button {
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.535);
  cursor: pointer;
}

.button:active {
  color: white;
}

.leftContainer {
  width: 70%;
}

.rightContainer {
  width: 30%;
}
