.homeContainer {
  background-image: url(../assets/space-BG1.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContainer {
  width: 70%;
}

.rightContainer {
  width: 20%;
}
