@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.homeContainer {
  background-image: url(../assets/images/space-BG1.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.launchAndArticleContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 5vw;
  width: 90vw;
  max-height: 600px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  margin-top: 150px;
}

.leftContainer {
  width: 70%;
  display: flex;
}

.rightContainer {
  width: 30%;
}

.launchMobileContainer {
  display: none;
}

@media only screen and (max-width: 960px) {
  .launchAndArticleContainer {
    display: none;
  }

  .launchMobileContainer {
    display: flex;
  }
}
