@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.leaflet-container {
  height: 100%;
  width: 95%;
  opacity: 0.7;
  border-radius: 15px;
  margin-bottom: 20px;
}

.leaflet-container:hover {
  opacity: 0.9;
}

.mapContainer {
  width: 60vw;
  height: 67.5vh;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
}

.agencieTitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 400;
}

.launchCounterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.counterTitle {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.leaflet-popup-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaflet-popup-content p {
  font-family: "Poppins", sans-serif;
  min-width: 100%;
  margin: 10px !important;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px !important;
}

.padName {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  padding: 5px;
  margin: 0;
}

.padLocation {
  text-align: center;
  font-size: 14px;
}

.padLaunchCount {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

@media only screen and (max-width: 960px) {
  .mapContainer {
    width: 90vw;
  }
}
