@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.weatherContainer {
  font-family: "Oswald", sans-serif;
  color: rgba(255, 255, 255, 0.859);
}

.city {
  font-size: 40px;
}
