@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.articlesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.404);
}

.newsTitle {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2vw;
  font-weight: 300;
}

.scrollContainer {
  overflow-y: scroll;
}

.seeMore {
  padding: 15px;
  font-weight: 200;
  font-size: 14px;
  color: #af75ff;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 960px) {
  .articlesContainer {
    width: 90vw;
    height: 75vh;
    margin-top: 100px;
  }

  .newsTitle {
    font-size: 6vw;
  }
}
